asgiref @ file:///work/buildout/croot/asgiref_1761946762083/work
channels @ file:///home/conda/feedstock_root/build_artifacts/channels_1754069007000/work
channels_redis @ file:///home/conda/feedstock_root/build_artifacts/channels_redis_1753214611056/work
dj-database-url==3.0.1
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1762777100038/work
gunicorn==23.0.0
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1734075161666/work
msgpack @ file:///work/buildout/croot/msgpack-python_1759955592267/work
packaging==25.0
psycopg2-binary==2.9.11
python-decouple==3.8
redis @ file:///work/buildout/croot/redis-py_1759966213684/work
six @ file:///work/buildout/croot/six_1759952127748/work
sqlparse @ file:///work/buildout/croot/sqlparse_1759958169381/work
tomli @ file:///work/buildout/croot/tomli_1759953856752/work
webencodings @ file:///work/buildout/croot/webencodings_1761937128504/work
whitenoise==6.11.0
